<html> 
<head><title> First HTML Demo</title>  
    <link type="text/css" rel="stylesheet" href="../Related-resources/default.css" />
 </head> </html>
<h1> The way layout  works </h1>


<br>

<body>
    <q >Every next level of your life will demand a different you !!</q> </br>
    <div><p class="test"> If you’re used to creating structure, content, layout and style in your web pages, isn’t it time to add a little behavior as well? These days, there’s no need for the page to just sit there.

      Great pages should be dynamic, interactive, and they should work with your users in new ways. That’s where JavaScript comes in. Let’s start by taking a look at how JavaScript fits into the web page ecosystem
         This is floting</p>
        </div>
              <div>  <p  class="guarantee">
                    
                    Passing cars, <br>
                    When you can’t see, <br>
                    May get you, <br>
                    A glimpse, <br>
                    Of . <em>eternity.</em> I definitely won’t be passing any cars.</p>
                    
                            </div>
                        <p id="layout"> If you’re used to <em>creating structure, content, layout and style in your web pages</em>, isn’t it time to add a little behavior as well? These days, there’s no need for the page to just sit there.

                            Great pages should be <em>dynamic, interactive, and they should work with your users in new ways</em>. That’s where JavaScript comes in. Let’s start by taking a look at how JavaScript fits into the web page ecosystem
                               </p>
                       
                        <p>
                            I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.
                            I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.
                            I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.
                            I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.
                            I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.
                        </p>

                        <p id="layout"> If you’re used to <em>creating structure, content, layout and style in your web pages</em>, isn’t it time to add a little behavior as well? These days, there’s no need for the page to just sit there.

                            
                               </p>
                       
                        <p id="p-set">
                            I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.  I definitely won’t be passing any cars.
                          
                            </p>

                                <a href="../../../index.html">Index Page - On same page </a> 
</body>


</html>